@reference "../tailwind.css";

.home {
  @apply bg-[url("/assets/images/wood.webp")] bg-cover bg-center bg-no-repeat h-full w-screen overflow-x-hidden relative;
}

.home-content {
  @apply z-2 absolute top-1/2 -translate-y-[35%] w-full flex justify-start gap-8;
}

.left-content {
  @apply flex flex-col gap-2 text-dark-default tracking-widest w-full h-full;
}

.white-egg {
  @apply bg-[url("/assets/images/white-egg.webp")] bg-cover bg-center bg-no-repeat size-96;
}

.chicken-meat-free-range {
  @apply bg-[url("/assets/images/chicken-meat-free-range.webp")] bg-cover bg-center bg-no-repeat size-96;
}

.chicken-meat {
  @apply bg-[url("/assets/images/chicken-meat.webp")] bg-cover bg-center bg-no-repeat h-80 w-[500px];
}

.carousel {
  @apply relative w-full h-full;
}

.item {
  @apply absolute inset-0 left-1/2 -translate-x-1/2 -top-12 md:z-2 z-0 opacity-0;
  animation: fade 6s infinite;
}

.item::after {
  @apply absolute -bottom-5 left-1/2 -translate-x-1/2 w-[348px] h-[100px] rounded-[50%];
  content: "";
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  filter: blur(4px);
  z-index: -1;
}

.item:nth-child(1) {
  animation-delay: 0s;
}
.item:nth-child(2) {
  animation-delay: 2s;
}
.item:nth-child(3) {
  animation-delay: 4s;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  30% {
    opacity: 1;
  }
  40%,
  90% {
    opacity: 0;
  }
}

.chicken-icon {
  @apply bg-[url("/assets/images/chicken-icon.webp")] bg-cover bg-center bg-no-repeat size-20 absolute z-3 opacity-75;
}

.paprica {
  @apply bg-[url("/assets/images/paprica.webp")] bg-cover bg-center bg-no-repeat h-16 w-11 absolute bottom-10 left-12 opacity-80 scale-150;
}

.paprica-cut-red {
  @apply bg-[url("/assets/images/paprica-cut-red.webp")] bg-cover bg-center bg-no-repeat h-14 w-24 absolute -top-3 left-1/2 -translate-x-1/2 z-[3] scale-75;
}

.paprica-cut-yellow {
  @apply bg-[url("/assets/images/paprica-cut-yellow.webp")] bg-cover bg-center bg-no-repeat h-14 w-24 absolute top-0 right-6 z-[2] scale-75;
}

.paprica-cut-green {
  @apply bg-[url("/assets/images/paprica-cut-green.webp")] bg-cover bg-center bg-no-repeat h-14 w-24 absolute top-3 left-8 z-[4] scale-75;
}

.follow-sosmed {
  @apply flex justify-start items-center gap-3 absolute -right-[95px] rotate-[270deg];
}

.sosmed {
  @apply bg-gray-300/90 cursor-pointer p-2 rounded-full rotate-90;
}

.home-about-us {
  @apply text-center flex flex-col gap-6;
}

.benefit-section {
  @apply py-24 bg-primary-500/20 flex flex-col gap-12;
}

.benefit-card {
  @apply flex flex-col text-left relative;
}

.benefit-card-icon {
  @apply rounded-lg mb-4 p-3 z-[2] bg-green-600 w-fit flex items-center justify-center;
}

.benefit-icon {
  @apply size-10 z-[2] text-warning-lighter;
}

.benefit-title {
  @apply text-lg font-bold mb-2 text-left w-full;
}

.benefit-desc {
  @apply text-sm text-gray-600;
}

.benefit-line {
  @apply md:flex hidden w-[230%] h-2 border-t-2 border-dashed border-primary-default absolute top-8 z-[1] left-12;
}

.home-article-section {
  @apply py-16;
}

.home-article-header {
  @apply mb-10 md:text-left text-center flex md:flex-row flex-col justify-between items-start;
}

.home-article-title {
  @apply text-3xl font-bold mb-2 w-full;
}

.home-article-title span {
  @apply text-danger-default;
}

.home-article-subtitle {
  @apply text-gray-600 md:max-w-md w-full;
}

.home-article-link {
  @apply inline-block mt-4 text-danger-default font-medium hover:underline;
}

.home-article-grid {
  @apply flex lg:flex-row flex-col justify-between items-center gap-6 h-[500px];
}

.home-article-featured {
  @apply relative rounded-2xl overflow-hidden col-span-2 w-full lg:h-[500px] h-full cursor-pointer;
}

.home-article-side {
  @apply flex flex-col gap-6 lg:size-[500px] size-full;
}

.home-article-card {
  @apply relative rounded-2xl overflow-hidden h-full cursor-pointer;
}

.home-article-image {
  @apply w-full h-full object-cover;
}

.home-article-overlay {
  @apply absolute inset-0 flex flex-col justify-end
  p-6 bg-gradient-to-t from-black/80 to-transparent text-white
  transition-all duration-300 rounded-2xl;
}

.home-article-meta {
  @apply text-sm opacity-0 translate-y-3 transition-all duration-300;
}

.home-article-desc {
  @apply text-sm opacity-0 translate-y-3 transition-all duration-300;
}

.home-article-cardTitle {
  @apply font-semibold text-lg md:text-2xl transition-transform duration-300;
}

.home-article-featured:hover .home-article-meta,
.home-article-card:hover .home-article-meta,
.home-article-featured:hover .home-article-desc,
.home-article-card:hover .home-article-desc {
  @apply opacity-100 translate-y-0;
}

.home-article-featured:hover .home-article-cardTitle,
.home-article-card:hover .home-article-cardTitle {
  @apply -translate-y-1;
}

.home-article-card .home-article-overlay {
  @apply p-4;
}
