@reference "../tailwind.css";

.form-label {
  @apply text-[14px] text-black;
}

.sm {
  @apply !text-sm !h-[36px] !font-medium !tracking-normal;
}

.md {
  @apply !py-2 !px-3 !h-full !text-md !tracking-075;
}

.lg {
  @apply !text-lg p-4 h-[55px] tracking-075;
}

.xl {
}

.form-input,
.form-input-error,
.form-input-with-icon-right,
.form-input-with-icon-left,
.form-input-with-icon-right-error,
.form-input-with-icon-left-error {
  @apply z-0 flex w-full text-lg p-4 h-[55px] tracking-075 rounded-lg border-1 outline-none transition duration-200 ease-in-out;
}

.form-input-error,
.form-input-with-icon-right-error,
.form-input-with-icon-left-error {
  @apply border-danger-500;
}

.form-input-with-icon-left,
.form-input-with-icon-left-error {
  @apply pl-11;
}

.form-input-with-icon-right,
.form-input-with-icon-right-error {
  @apply pr-11;
}

.form-input-right-icon {
  @apply absolute right-0 top-0 flex h-12 w-14 items-center justify-center;
}

.form-input-left-icon {
  @apply absolute left-0 top-0 flex h-12 w-14 items-center justify-center;
}

.form-input-message {
  @apply my-1 flex justify-start gap-1 pl-4 text-[14px] text-danger-500;
}

.form-label-inside {
  @apply text-lg font-normal absolute tracking-[0.4px] translate-y-[-50%];
  pointer-events: none;
  left: 16px;
  top: 50%;
  transition: 0.2s ease all;
}

.form-input-inside:focus {
  @apply pt-9;
  transition: 0.2s ease all;
}

.form-input-inside:focus ~ .form-label-inside {
  @apply translate-y-[-110%] top-[50%] font-bold text-[12px] tracking-[0.4px];
}

.form-input-inside-active {
  @apply pt-9 text-[12px];
  transition: 0.2s ease all;
}

.form-label-inside-active {
  @apply absolute translate-y-[-110%] top-[49%] text-[12px] tracking-[0.4px] font-bold left-4;
  pointer-events: none;
}

.form-area-label-inside {
  @apply text-lg font-normal absolute tracking-[0.4px] left-4 top-4;
  transition: 0.2s ease all;
}

.form-area-label-inside-active {
  @apply absolute text-[12px] font-bold left-4 top-2 w-full;
  transition: 0.2s ease all;
}

.form-area-input-inside {
  @apply border-gray-300;
}

.form-area-input-inside-error {
  @apply border-danger-500;
}

.form-area-input-inside:focus {
  @apply pt-6 border-primary-default;
  transition: 0.2s ease all;
}

.form-area-input-inside-active {
  @apply pt-6 text-[12px] border-gray-300;
  transition: 0.2s ease all;
}

.form-area-input-inside-active:focus {
  @apply border-primary-default;
}

.form-select-label-inside-focused {
  @apply text-xs font-bold absolute tracking-[0.4px] left-4 top-4;
  transition: 0.2s ease all;
}
